.hello{
    color: white;
    font-size: 30px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    text-align: center;
    /*background-color: rgba(245, 245, 245, .5);*/
    background-color: rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 6px;
}

/*Текст страницы каталог*/
.catreview{
    color: black;
    text-align: center;
}

/*Блоки каталога*/
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.content{
    font-size: 0;
    width: 1500px;
    margin: auto;
}
.card{
    width: 350px;
    margin-bottom: 100px;
    padding: 45px 45px 70px;
    border: 2px solid rgba(43, 0, 0, .4);
    display: inline-block;
    margin-right: 22px;
    margin-left: 22px;
    background-color: antiquewhite;
}

.card-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.card-text{
    font-size: 16px;
    text-align: justify;
}
.card-image{
    width: 100%;
    margin-bottom: 25px;
}
/*Кнопки каталога*/
.button-cat{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}
.button-cat:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.button-cat:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

/*Кнопки регистрации и входа*/
.submit{
    cursor: pointer;
    border: 1px solid #cecece;
    background: #f6f6f6;
    box-shadow: inset 0px 20px 20px #ffffff;
    border-radius: 8px;
    padding: 8px 14px;
    width: 200px;
    opacity: 1;
}
.submit:hover {
    box-shadow: inset 0px -20px 20px #D77206;
}
.submit:active {
    margin-top: 1px;
    margin-bottom: -1px;
    zoom: 1;
}

/*Стилизация полей ввода*/
input {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

/*Изменение ссылок*/
a {
    display: inline-block;
    color: #2E2300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 20px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s ease-in-out;
    background-color: beige;
}

.container_slider_css{
    margin:50px auto;
    width:800px;
    height:500px;
    overflow:hidden;
    position:relative}
.photo_slider_css{position:absolute;animation:round 20s infinite;opacity:0;width:100%}
@keyframes round {
    25%{opacity:1}
    40%{opacity:0}
}
img:nth-child(1){animation-delay:16s}
img:nth-child(2){animation-delay:12s}
img:nth-child(3){animation-delay:8s}
img:nth-child(4){animation-delay:4s}
img:nth-child(5){animation-delay:0s}
@media(min-width:0px) and (max-width:320px) {
    .container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
    .container_slider_css{width:80%;height:190px}
}
.button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #C05805;
}
.entry{
    color: white;
    font-size: 30px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    text-align: center;
    background-color: #C29545;
    width: 1000px;
    border-radius: 20px;
    margin: auto;
    line-height: 2;
    padding-bottom: 5px;
    opacity: 0.6;
}
body{
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613382661_85-p-bezhevie-doski-fon-135.jpg");
}
.map{
    display: inline-block;
    width: 900px;
    height: 700px;
    margin-left: 20px;
}
.ourInfo{
    display: inline-block;
    padding-left: 30px;
}

/*окно описания товара*/
.infprod{
    display: inline-grid;
    margin: auto;
    width: 400px;
    background-color: #FFA500;
    position:relative;
    top: -500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 90%;
    box-shadow: 0 0 5px 2px red;
}
/*подвал*/
.footer {
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px;  /*Поля вокруг текста */
    background-color: beige; /* Цвет фона */
    color: black; /* Цвет текста */
    width: 100%;
    margin-left: 0px;
    position: absolute;
    margin-bottom: -200px;
    font-size: large;
}