.hello{
    color: black;
    font-size: 30px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    text-align: center;
    background-color: whitesmoke;
}
/*Текст страницы каталог*/
.catreview{
    color: black;
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.content{
    font-size: 0;
    width: 1500px;
    margin: 0 auto;
}
.card{
    width: 350px;
    margin-bottom: 100px;
    padding: 45px 45px 70px;
    border: 2px solid rgba(250, 50, 50, .4);
    display: inline-block;
    margin-right: 22px;
    margin-left: 22px;
}

.card-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.card-text{
    font-size: 16px;
}
.card-image{
    width: 100%;
    margin-bottom: 25px;
}
.button-cat{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}
.button-cat:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.button-cat:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }


/*
Изменение ссылок
*/
a {
    display: inline-block;
    color: brown;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 20px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s ease-in-out;
    background-color: beige;
}

.container_slider_css{
    margin:50px auto;width:800px;height:500px;overflow:hidden;position:relative}
.photo_slider_css{position:absolute;animation:round 20s infinite;opacity:0;width:100%}
@keyframes round {
    25%{opacity:1}
    40%{opacity:0}
}
img:nth-child(1){animation-delay:16s}
img:nth-child(2){animation-delay:12s}
img:nth-child(3){animation-delay:8s}
img:nth-child(4){animation-delay:4s}
img:nth-child(5){animation-delay:0s}
@media(min-width:0px) and (max-width:320px) {
    .container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
    .container_slider_css{width:80%;height:190px}
}
.button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #39a1f4;
}
.entry{
    color: black;
    font-size: 30px;
    font-style: normal;
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    text-align: center;
    background-color: darkgoldenrod;
}